<br>
<div [hidden]="!mostarSpinner">
    <table style="width: 100%;">
        <tr>
            <!-- <td><mat-spinner strokeWidth="5" [diameter]="75" color="accent" title="Tooltip text here"></mat-spinner></td> -->
            <td> Cargando...<mat-progress-bar mode="indeterminate"></mat-progress-bar></td>
        </tr>
        <tr>
            <td style="width: 500px;"><div style="width: 100%;"><mat-progress-bar mode="determinate" value="{{valorCarga}}"></mat-progress-bar></div></td>
            <td style="width: 500px;">{{valorCarga}}</td>
        </tr>
    </table>
   
</div>
<br>
<br>

<button mat-raised-button color="primary" (click)="restar()">-10</button>
<br>
<button mat-raised-button color="primary" (click)="sumar()">+10</button>
<br>
<button mat-raised-button color="primary" (click)="ocultar()">Primary</button>
<br>{{mostarSpinner}}
